<!DOCTYPE html>
<html>
    {% include head.html %}
<body>
    <script type="text/javascript">
        (function(window, document, dataLayerName, id) {
        window[dataLayerName]=window[dataLayerName]||[],window[dataLayerName].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName('script')[0],tags=document.createElement('script');
        function stgCreateCookie(a,b,c){var d="";if(c){var e=new Date;e.setTime(e.getTime()+24*c*60*60*1e3),d="; expires="+e.toUTCString();f="; SameSite=Strict"}document.cookie=a+"="+b+d+f+"; path=/"}
        var isStgDebug=(window.location.href.match("stg_debug")||document.cookie.match("stg_debug"))&&!window.location.href.match("stg_disable_debug");stgCreateCookie("stg_debug",isStgDebug?1:"",isStgDebug?14:-1);
        var qP=[];dataLayerName!=="dataLayer"&&qP.push("data_layer_name="+dataLayerName),isStgDebug&&qP.push("stg_debug");var qPString=qP.length>0?("?"+qP.join("&")):"";
        tags.async=!0,tags.src="https://shenderov.containers.piwik.pro/"+id+".js"+qPString,scripts.parentNode.insertBefore(tags,scripts);
        !function(a,n,i){a[n]=a[n]||{};for(var c=0;c<i.length;c++)!function(i){a[n][i]=a[n][i]||{},a[n][i].api=a[n][i].api||function(){var a=[].slice.call(arguments,0);"string"==typeof a[0]&&window[dataLayerName].push({event:n+"."+i+":"+a[0],parameters:[].slice.call(arguments,1)})}}(i[c])}(window,"ppms",["tm","cm"]);
        })(window, document, 'dataLayer', 'a615b33a-b423-4713-8f27-961c8e85c9f3');
    </script>
    {% include header.html %}
    {% include about.html data=site.data.about id=site.data.blocks.about.id %}
    {% include expertise.html data=site.data.expertise id=site.data.blocks.expertise.id %}
    {% include skills.html data=site.data.skills id=site.data.blocks.skills.id columns=2 %}
    {% include skills.html data=site.data.languages id=site.data.blocks.languages.id columns=3 %}
    {% include timeline.html data=site.data.experience id=site.data.blocks.experience.id %}
    {% include timeline.html data=site.data.education id=site.data.blocks.education.id %}
    {% include contact.html data=site.data.contact id=site.data.blocks.contact.id %}
    {% include footer.html %}
    <script src="/assets/js/wow.min.js" defer></script>
    <script src="{% asset 'js/index.js' %}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>    
</body>
</html>